.gallery {
    width: 100%;
    .img-item {
        width: 30%;
        height 120px;
        background: #fff;
        line-height: 15px;
        text-align: center;
        cursor: pointer;
        display:inline-block;
        img {
            width: 80px;
            height 80px;
            margin: 0;
            display: inline-block;
            border: none;
            transition: 500ms all;
        }

        img:hover {
                transform: scale(1.1);
        }
    }
    p {
        text-align: center;
        margin: 5px;
    }

    .title {
        font-size: 18px;
         color: #00024f;
    }

    .desc {
            font-size: 10px;
            color: #92a9b5;
        }
}

.search-wrapper {
    width: 100%;
    text-align: center;
    .search {
    width: 80%;
    height 30px;
    padding: 0 1.5em;
    background: white;
    border: 1px solid lightgray;
    border-radius: 1.5em;
    overflow: hidden;
    -webkit-appearance: textfield;
    outline-offset: -2px;
    -webkit-tap-highlight-color: transparent;
    }

    .search:focus {
        outline-offset: -2px;
        outline: 0;
    }

    .search::-webkit-input-placeholder { /* WebKit browsers */
        color: #999;
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        .img-item {
            width: 50%
        }
    }
}