.gallery {
    width: 100%;
    .img-item {
        width: 250px;
        height 120px;
        background: #fff;
        line-height: 15px;
        text-align: center;
        cursor: pointer;
        display:inline-block;
        img {
            width: 80px;
            margin: 0;
            display: inline-block;
            border: none;
            transition: 500ms all;
        }

        img:hover {
                transform: scale(1.1);
        }
    }
    p {
        text-align: center;
        margin: 5px;
    }

    .title {
        font-size: 18px;
         color: #00024f;
    }

    .desc {
            font-size: 13px;
            color: #404350;
        }
}